body{
    background-image: url("../img/background.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    width: 977px;
    height: 100px;
    background-color: white;
    margin:auto;
}
.logo{
    z-index: 3;
    width: 103px;
    height: 60px;
    margin-left:5%;
}
.orderbutton a{
    font-family: sans-serif;
    background-color: white;
    height: 40px;
    width: 40px;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.order a:hover{
    font-family: sans-serif;
    background-color: black;
    height: 40px;
    width: 40px;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
article{
    width: 50%;
    margin: auto;
    text-align: center;
    background: rgba(255, 255 , 255, 0.8);
    opacity: 0.8;
    height: 700px;
}
article h1{
    font-family: sans-serif;
}
footer{
    width: 100%;
    z-index: 2;
    align-content: flex-end;
    background-color: white;
    font-size: 0.7em;
}